 
 *{
    margin: 0;
    padding: 0;
    font-family: "Rubik",sans-serif
;
box-sizing: border-box;
}
body{
    background: rgba(255, 0, 0, 0.841);
}
.wrapper{
    width: 400px;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.container{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.841);
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(87,11,16,0.5);
    position: relative;
    border-radius: 5px;
    text-align: center;
}
.container:after {
    content:"";
    position:absolute;
    width: 80%;
    height: 120%;
    background-color: #ffffffff;
    z-index: -1;
    top: -10%;
    left:10%;


}
.container #quote{
    color: antiquewhite;
    line-height: 2;
    font-size: 18px;
}
.container #author{
    color: #ffffffff;
   margin: 20px 0 60px 0;
   font-weight: 600;
   text-transform: capitalize;
}
.container #btn{
    background-color: #ffff;
    border:none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 0, 0, 0.841);
    cursor: pointer;
}